# Тема “Вычисления с помощью Numpy”

## Задание 1
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк
и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение.
Затем найдите среднее значение по каждому признаку, используя метод mean массива
Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [1]:
import numpy as np

# Создание массива
a = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])

# Нахождение среднего значения по каждому признаку
mean_a = np.mean(a, axis=0)
mean_a

array([2. , 8.4])

## Задание 2
Вычислите массив a_centered, отняв от значений массива “а” средние значения
соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно
производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [2]:
# Вычитание средних значений признаков из соответствующих значений массива a
a_centered = a - mean_a
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

## Задание 3
Найдите скалярное произведение столбцов массива a_centered. В результате должна
получиться величина _centered_spa. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [3]:
# Вычисление скалярного произведения столбцов массива a_centered
centered_sp = np.dot(a_centered[:, 0], a_centered[:, 1])

# Деление скалярного произведения на N-1
N = a.shape[0]
centered_spa = centered_sp / (N - 1)
centered_sp, centered_spa

(8.0, 2.0)

## Задание 4**
Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.  
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с
помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать
транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером
2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом
1.

In [4]:
# Вычисление ковариационной матрицы с помощью np.cov
cov_matrix = np.cov(a.T)

# Извлечение искомого значения ковариации
cov_value = cov_matrix[0, 1]
cov_value

2.0

# Тема “Работа с данными в Pandas”

## Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].  
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:
[1, 1, 1, 2, 2, 3, 3],  
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']  
Нужны prices!  
[500, 400, 300, 350, 450, 600, 200]

In [5]:
import pandas as pd

# Создание датафрейма authors
authors_data = {
    'author_id': [1, 2, 3],
    'author_name': ['Тургенев', 'Чехов', 'Островский']
}
authors = pd.DataFrame(authors_data)

# Создание датафрейма book
book_data = {
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [500, 400, 300, 350, 450, 600, 200]
}
book = pd.DataFrame(book_data)

authors, book

(   author_id author_name
 0          1    Тургенев
 1          2       Чехов
 2          3  Островский,
    author_id            book_title  price
 0          1           Отцы и дети    500
 1          1                 Рудин    400
 2          1     Дворянское гнездо    300
 3          2      Толстый и тонкий    350
 4          2       Дама с собачкой    450
 5          3                 Гроза    600
 6          3  Таланты и поклонники    200)

## Задание 2
Получите датафрейм authors_price, соединив дата фреймы authors и books по полю author_id.

In [6]:
# Объединение датафреймов authors и book по полю author_id
authors_price = pd.merge(authors, book, on='author_id')

# Вывод результата
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    500
1          1    Тургенев                 Рудин    400
2          1    Тургенев     Дворянское гнездо    300
3          2       Чехов      Толстый и тонкий    350
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    600
6          3  Островский  Таланты и поклонники    200

## Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими
книгами.

In [7]:
# Создание датафрейма top5 с пятью самыми дорогими книгами
top5 = authors_price.nlargest(5, 'price')

# Вывод результата
print(top5)

   author_id author_name        book_title  price
5          3  Островский             Гроза    600
0          1    Тургенев       Отцы и дети    500
4          2       Чехов   Дама с собачкой    450
1          1    Тургенев             Рудин    400
3          2       Чехов  Толстый и тонкий    350

## Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price, в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [8]:
# Создание датафрейма authors_stat
authors_stat = authors_price.groupby('author_name').agg(
    min_price=('price', 'min'),
    max_price=('price', 'max'),
    mean_price=('price', 'mean')
).reset_index()

# Вывод результата
print(authors_stat)

  author_name  min_price  max_price  mean_price
0  Островский        200        600       400.0
1    Тургенев        300        500       400.0
2       Чехов        350        450       400.0

## Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].  

Просмотрите документацию по функции pd.pivot table с помощью вопросительного знака.  

Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте
для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.  

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [9]:
# Создание нового столбца cover
cover_data = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price['cover'] = cover_data

# Создание сводной таблицы с помощью pd.pivot_table
book_info = pd.pivot_table(authors_price, values='price', index='author_name', columns='cover', aggfunc=np.sum, fill_value=0)

# Переименуем столбцы для удобства
book_info.columns.name = None
book_info.reset_index(inplace=True)

# Сохранение датафрейма book_info в файл формата pickle
book_info.to_pickle('book_info.pkl')

# Загрузка датафрейма из файла формата pickle
book_info2 = pd.read_pickle('book_info.pkl')

# Проверка идентичности датафреймов
print(book_info.equals(book_info2))
print(book_info)
print(book_info2)

True
  author_name  мягкая  твердая
0  Островский     800        0
1    Тургенев     700      500
2       Чехов       0      800
  author_name  мягкая  твердая
0  Островский     800        0
1    Тургенев     700      500
2       Чехов       0      800